//colors
// $color-primary: #B07087;
// $color-secondary: #C78283;
// $color-bg: #F3D9DC;
// $color-white: #F2F5F2;

$color-primary: #638663;
$color-secondary: #AAC0AA;
$color-bg: #F3D9DC;
$color-white: #F2F5F2;

//tools
$outline: 2px solid $color-primary;
$outline-thin: 1px solid $color-secondary;


